@model WEBBABA.Infra.EF.TBCategoria

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataCadastroCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataCadastroCategoria)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-info">
        @Html.ActionLink("Editar", "Edit", new { id = Model.idCategoria })
    </button>
    <button type="button" class="btn btn-secondary">
        @Html.ActionLink("Voltar para lista", "Index")
    </button>
</p>
