@model WEBBABA.Infra.EF.TBAtleta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TBAtleta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeAtleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeAtleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sobrenomeAtleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sobrenomeAtleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apelidoAtleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apelidoAtleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coleteNumeroAtleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coleteNumeroAtleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nascimentoAtleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nascimentoAtleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefoneAtleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefoneAtleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataCadastroAtleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataCadastroAtleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posicaoAtleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posicaoAtleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comissaoAtleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comissaoAtleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBSituacao.nomeSituacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBSituacao.nomeSituacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAtleta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
